!!!
%html{lang: "es"}
    %head
        %meta{charset: "utf-8"}/
        %title Padrino
        %link{href: "http://getbootstrap.com/dist/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
    %body
        .container
            .row
                .col-md-12
                    = yield
